.navigation {
  display: none;
}

.container {
  @include outer-container;
}

.cta_container {
  @include span-columns(10 of 16);
  @include shift(3 of 16);
  // background-color: ;

  @include media($medium-screen-down) {
    @include span-columns(16 of 16);
    @include shift(0);
  }
}

.lead {
  @include span-columns(8 of 16);
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.625em;
  }

  h3 {
    font-size: 1.325em;
  }
}

.ctas {
  @include span-columns(8 of 16);
  @include omega;
  padding-left: $gutter;

  @include media($medium-screen-down) {
    @include span-columns(16 of 16);
    padding-left: 0;
  }

  .cta {

    h3 {
      font-size: 1.25em;
    }

    p {
      font-size: 1.125em;
    }

  }
}

.footer {
  @include span-columns(16 of 16);
}

.debug_dump {
  display: none;
}